.navbar{
  background-color: rgba(0, 0, 255, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a{
  background-color: white;
  color: black;
  float: left;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  }
.navbar a:hover{
  background-color: deepskyblue;
  color: black;
}
.navbar a.active{
  background-color: blue;
  color: floralwhite;
}
.navbar img{
  
  float: right;
  border: 2px solid darkblue;
  border-radius: 40px;
  margin-right: 20px;
  margin-top: 5px;
}
body{
  background-color: lightskyblue;
  text-align: center;
}
h2{
  text-align: center;
  background-color: black;
  color: floralwhite;
  margin-top: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  width: 100%;
}
.prf{
  border: 2px solid snow;
  border-radius: 20px;
  width: 100%;
  
}
p{
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}
table,tr,td{
  border: 2px solid black;
  font-size: 30px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aliceblue;
}
table{
  box-shadow: 6px 6px;
}
.prff{
border: 2px solid rgb(35, 7, 197);
border-radius: 20px;
width: 75%;

  }
footer{
  background-color: darkblue;
  text-align: center;
  border: 1px solid darkblue;
  border-radius: 5px;
  margin-top: 50px;
}
.fp{
  color: floralwhite;
}
.prrf{
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: white 3px 3px;
}
.c1{
  border: 1px solid snow;
  border-radius: 20px;
  margin-top: 10;
  
  
}
.c2{
border: 1px solid snow;
border-radius: 20px;
margin-top: 10px;
padding-top: 10px;
}
.p1{
  background-color: navajowhite;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif
  
}
.c3{
border: 1px solid snow;
border-radius: 20px;
margin-top: 10px;

}
.c4{
border: 1px solid snow;
border-radius: 20px;
margin-top: 10px;
padding-top: 10px;
}
ul{
  font-size: 25px;
}
h1{
  text-align: center;
  color: black
}
.h11{
  text-align: center;
  background-color: navajowhite;
}

.order{
  border: 5px solid darkblue;
  background-color: floralwhite;
  margin-left: 410px;
  margin-right: 200px;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
  color: darkblue;
  border-radius: 15px;
  padding: 8px;
}
.hmd{
border: 5px solid darkblue;
background-color: darkblue;

font-size: 20px;
text-align: center;
color: rgb(248, 248, 248);
border-radius: 15px;
padding: 10px;
}
.hmd:hover{
  background-color: black;
  color: bisque;
}
.table2{
  margin-left: auto;
  margin-right: auto;
}
.sp{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: white 3px 3px;
}
.table{
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  box-shadow: 6px 6px;
}
.card{
  border: 3px solid blue;
  border-radius: 20px;
  background-color: white;
  box-shadow: 4px 6px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  margin-bottom: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.price{
  background-color: antiquewhite;
  color: black;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card a{
  border: 2px solid darkblue;
  border-radius: 30px;
  outline: 0;
  padding: 15px;
  color: white;
  background-color: darkblue;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card a:hover{
  background-color: black;
  color: floralwhite;
}
h4{
  font-size: 20px;
  color: darkblue;
  margin-bottom: 30px;
}
.row{
  margin: 0 -5px;
}
.row::after{
  content:"";
  display: table;
  clear: both;
}
.column{
  float: left;
  width: 25%;
  }
video{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
}
input[type=text] {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 2px solid black;
  
}
input[type=text], select{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid black;
  box-sizing: border-box;
}
.bt {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.frm{
  background-color: rgb(174, 227, 227);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 20px;
}
